DEBUG=1
DJANGO_ALLOWED_HOSTS='testserver localhost 127.0.0.1 [::1]'

# DB
DB_HOST=cf_lib_db
DB_PORT=5432
POSTGRES_TEST_DB=test_library_db
POSTGRES_DB=library_db
POSTGRES_USER=library_user
POSTGRES_PASSWORD=library_password

# celery
CELERY_BROKER_URL=redis://cf_lib_redis:6379/0
CELERY_RESULT_BACKEND=redis://cf_lib_redis:6379/0

# misc
SECRET_KEY=c2c0126bd4139d0a2b7
DEFAULT_FROM_EMAIL=admin@library.com
DEFAULT_LOAN_PERIOD_DAYS=14

# this has to be the value of 'echo $(whoami)'
PC_USER=
